@font-face {
    font-family: 'hermesregular';
    src: url('./fonts/hermes-regular-webfont.woff2') format('woff2'),
         url('./fonts/hermes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.body {
    margin: 0;
    background-color: darkslategrey;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;

}
.header {
    font-family: 'hermesregular';
    color: black;
    font-size: 60px;
    text-align: center;
}
.btn {
    background-color: darkgrey;
    border: none;
    padding: 10px;
    font-size: 50px;
    border-radius: 8px;
    cursor: pointer;
    color: darkslategray;
}
.displayResult {
    border: none;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: darkgray;
    padding: 10px;
    font-size: 30px;
    font-family: 'hermesregular';
}
.gameIcons {
    display: flex;
    flex: 1;
    gap: 24px;
}
.resetbutton {
    background-color: darkgrey;
    border: none;
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
    color: darkslategray;
    font-family: 'hermesregular';
}
.startButtons {
    margin-top: 16px;
}
button > * {
    pointer-events: none;
}